<div class="tab-container">
  <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onTabChange($event)">
    <ng-container *ngIf="isAuthenticated(); else guestTabs">
      <mat-tab label="Profile"></mat-tab>
      <mat-tab label="Subcategories"></mat-tab>
      <mat-tab label="Conversations"></mat-tab>
      <mat-tab label="Activities"></mat-tab>
      <mat-tab label="Create Activity"></mat-tab>
      <mat-tab label="User Matches"></mat-tab>
    </ng-container>
    <ng-template #guestTabs>
      <mat-tab label="Login"></mat-tab>
      <mat-tab label="Register"></mat-tab>
    </ng-template>
  </mat-tab-group>
</div>

<!-- Logout Button -->
<div *ngIf="isAuthenticated()" class="logout-container">
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</div>

<!-- Routed components will be rendered here -->
<router-outlet></router-outlet>
