<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div class="header">
  <div class="brand-logo">JoinJoy</div>

  <!-- Tab Group -->
  <div class="tab-container">
    <mat-tab-group
      [(selectedIndex)]="selectedIndex"
      (selectedIndexChange)="onTabChange($event)"
      class="nav-tab-group"
    >
      <ng-container *ngIf="isAuthenticated(); else guestTabs">
        <mat-tab label="Profile"></mat-tab>
        <mat-tab label="Subcategories"></mat-tab>
        <mat-tab label="Conversations"></mat-tab>
        <mat-tab label="Activities"></mat-tab>
        <mat-tab label="Create Activity"></mat-tab>
      </ng-container>
      <ng-template #guestTabs>
        <mat-tab label="Login"></mat-tab>
        <mat-tab label="Register"></mat-tab>
      </ng-template>
    </mat-tab-group>
  </div>

  <!-- Logout Button -->
  <div *ngIf="isAuthenticated()" class="logout-container">
    <button mat-icon-button (click)="logout()" class="logout-button" matTooltip="Logout">
      <span class="material-icons">logout</span>
    </button>
  </div>
</div>

<!-- Routed Components -->
<div class="page-content">
  <router-outlet></router-outlet>
</div>
