<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=logout" />

<div class="header">
  <!-- Tab Group -->
  <div class="tab-container">
    <mat-tab-group
      [(selectedIndex)]="selectedIndex"
      (selectedIndexChange)="onTabChange($event)"
    >
      <ng-container *ngIf="isAuthenticated(); else guestTabs">
        <mat-tab label="Profile"></mat-tab>
        <mat-tab label="Subcategories"></mat-tab>
        <mat-tab label="Conversations"></mat-tab>
        <mat-tab label="Activities"></mat-tab>
        <mat-tab label="Create Activity"></mat-tab>
      </ng-container>
      <ng-template #guestTabs>
        <mat-tab label="Login"></mat-tab>
        <mat-tab label="Register"></mat-tab>
      </ng-template>
    </mat-tab-group>
  </div>

  <!-- Logout Button -->
  <div *ngIf="isAuthenticated()" class="logout-container">
    <button mat-icon-button (click)="logout()" class="logout-button">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </div>
</div>

<!-- Routed Components -->
<router-outlet></router-outlet>
