<div class="combined-page-container">
  <!-- Categories Section -->
  <mat-card class="card-section">
    <h3>Categories</h3>
    <div class="categories-grid">
      <div
        class="category-card"
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
      >
        <div
          class="category-background"
          [ngStyle]="{'background-image': 'url(' + getCategoryImage(category) + ')'}"
        ></div>
        <div class="category-overlay">
          <h4 class="category-name">{{ category.name }}</h4>
        </div>
      </div>
    </div>
  </mat-card>

  <!-- Subcategories Section -->
  <mat-card class="card-section">
    <h3>Subcategories</h3>
    <div *ngIf="subcategories.length > 0" class="subcategory-chip-list">
      <mat-chip-set>
        <mat-chip
          *ngFor="let subcategory of subcategories"
          class="clickable-chip custom-pastel-chip"
          (click)="addUserSubcategory(subcategory.id)"
        >
          {{ subcategory.name }}
        </mat-chip>
      </mat-chip-set>
    </div>
    <div *ngIf="subcategories.length === 0">
      <p>No subcategories available for this category.</p>
    </div>
  </mat-card>

  <!-- User Subcategories Section -->
  <mat-card class="card-section user-subcategories-section">
    <h3>Your Subcategories</h3>
    <div class="user-subcat-chips">
      <mat-chip-set>
        <mat-chip
          *ngFor="let userSubcategory of userSubcategories"
          [removable]="true"
          (removed)="removeUserSubcategory(userSubcategory.subcategoryId)"
          class="user-subcat-chip custom-pastel-chip"
        >
          {{ userSubcategory.subcategory?.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-set>
    </div>
  </mat-card>
</div>
